<template>
  <div v-show="bannerMessage" v-bind:style="{ 'background-color': bannerBackgroundColor }">
    <span id="errorMessageClear" v-on:click="clearBannerMessage">Clear</span>
    <p>{{ bannerMessage }}</p>
  </div>
</template>

<script>
export default {
  name: 'Banner',
  computed: {
    bannerBackgroundColor() {
      if (this.$store.getters.getBannerType === 'Error') {
        return 'red'
      } else if (this.$store.getters.getBannerType === 'Success') {
        return 'green'
      } else {
        return 'blue'
      }
    },
    bannerMessage() {
      return this.$store.getters.getBannerMessage
    }
  },
  methods: {
    clearBannerMessage: function () {
      this.$store.dispatch('setBanner', {message: '', type: 'Info'})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  width: 100%;
  display:inline-block;
  margin-bottom: 15px;
}

span, p {
  padding: 15px;
  color: white;
  width: auto;
}

div {
  float: left;
}

#errorMessageClear {
  float: right;
}

#errorMessageClear:hover {
  color: black;
  cursor: pointer;
}
</style>
