<template>
  <div class="content-container">
    <app-banner></app-banner>
    <app-list-users></app-list-users>
    <app-add-new-user></app-add-new-user>
  </div>
</template>

<script>
import ListUsers from './ListUsers.vue'
import AddNewUser from './AddNewUser.vue'
import Banner from './Banner.vue'

export default {
  name: 'Content',
  components: {
    'app-list-users': ListUsers,
    'app-add-new-user': AddNewUser,
    'app-banner': Banner
  },
  created() {
    this.$store.dispatch('retrieveUsers')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.content-container {
  min-width: 450px;
  margin: auto;
}
</style>
