<template>
  <div class="content-container">
    <h1>List of Users:</h1>
    <br>
    <table id="users-table">
      <!-- Table Header Row -->
      <tr>
        <th>User ID</th>
        <th class="textInputColumn">Name</th>
        <th class="textInputColumn">Username</th>
        <th class="textInputColumn">Email</th>
        <th class="actionColumn">Actions</th>
      </tr>
      <!-- Table Elements (Rows) -->
      <tr v-for="(user, index) in users" v-bind:key="user.id">
        <td>{{ user.id }}</td>
        <td>
          <input type="text" v-model="inputName" v-show="user.editing" />
          <span v-show="!user.editing">{{ user.name }}</span>
        </td>
        <td>
          <input type="text" v-model="inputUsername" v-show="user.editing" />
          <span v-show="!user.editing">{{ user.username }}</span>
        </td>
        <td>
          <input type="email" v-model="inputEmail" v-show="user.editing" />
          <span v-show="!user.editing">{{ user.email }}</span>
        </td>
        <td>
          <button id="deleteButton" v-on:click="deleteUser(user)">Delete</button>
          <button id="editButton" v-on:click="editUser(user)" v-show="!user.editing">Edit</button>
          <button id="cancelEditButton" v-on:click="cancelEditUser(user)" v-show="user.editing">Cancel</button>
          <button id="updateButton" v-on:click="updateUser(index)" v-show="user.editing">Update</button>
        </td>
      </tr>
    </table>
    <br>
  </div>
</template>

<script>
export default {
  name: 'ListUsers',
  data () {
    return {
      inputId: 0,
      inputName: '',
      inputUsername: '',
      inputEmail: ''
    }
  },
  computed: {
    users() {
      return this.$store.getters.getAllUsers
    }
  },
  methods: {
    deleteUser(user) {
      this.$store.dispatch('deleteUser', user)
    },
    editUser(user) {
      this.$store.dispatch('setUserToEditingMode', user.id)

      // Set the text values within each input field
      this.inputId = user.id
      this.inputName = user.name
      this.inputUsername = user.username
      this.inputEmail = user.email
    },
    cancelEditUser(user) {
      this.$store.dispatch('setUserToReadOnlyMode', user.id)

      // Clear the text values used in the input fields
      this.inputId = 0
      this.inputName = ''
      this.inputUsername = ''
      this.inputEmail = ''
    },
    updateUser(index) {
      // This object is a custom object with the following fields:
      //   - index: the index of the user within the array (not the user ID)
      //   - id: the ID number of the user (as stored in the database)
      //   - name: name of the user
      //   - username: username of the user
      //   - email: email of the user
      var updatedUser = {
        index: index,
        id: this.inputId,
        name: this.inputName,
        username: this.inputUsername,
        email: this.inputEmail
      }

      this.$store.dispatch('updateUser', updatedUser)

      // Clear the text values used in the input fields
      this.inputId = 0
      this.inputName = ''
      this.inputUsername = ''
      this.inputEmail = ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table {
  table-layout: fixed;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

button {
  padding: 4px;
  border-radius: 4px;
  font-size: 0.8em;
  margin: 0 4px;
}

#deleteButton:hover, #cancelEditButton:hover {
  color: red;
  cursor: pointer;
}

#editButton:hover {
  color: green;
  cursor: pointer;
}

#updateButton:hover {
  color: green;
  cursor: pointer;
}

input {
  font-size: 0.8em;
}

.textInputColumn {
  padding-right: 2em;
  min-width: 140px;
}
.actionColumn {
  padding-right: 8em;
}
</style>
